e-rewriter/target
sym_reg/analyzer/target
*.ipynb
__pycache__
parser.out
parsetab.py
*.out
hadi.txt
out.txt
optimized_circuit.aig
optimized_circuit.txt
original_circuit.aig
original_circuit.txt
raw_circuit.txt
multi_output_case.txt
one_output_case.txt
sexpr_for_egg.txt
output_from_egg.txt
raw_circuit.txt
.vscode/
multi_eqn_boolean

abc/DebugLib/
abc/DebugExe/
abc/DebugExt/

abc/ReleaseLib/
abc/ReleaseExe/
abc/ReleaseExt/

abc/_TEST/
abc/lib/abc*
abc/lib/m114*
abc/lib/bip*
abc/docs/

abc/src/ext*
abc/src/xxx/
abc/src/aig/au/
abc/src/aig/ssm/
abc/src/aig/ddb/

abc/*~
abc/*.orig

abc/*.[od]

abc/*.ncb
abc/*.opt
abc/*.plg

abc/*.zip

abc/abcspaceext.dsw
abc/abcext.dsp

abc/abcexe.vcproj*
abc/abclib.vcproj*
abc/abcspace.sln
abc/abcspace.suo

abc/*.pyc

abc/src/python/build
abc/src/python/bdist
abc/src/python/pyabc.py
abc/src/python/pyabc_wrap.*

abc/.idea/
abc/build/

abc/*.rej
abc/*.orig

abc/tags

abc/libabc.a
abc/abc

abc/arch_flags

abc/cmake
abc/cscope

abc/demo
abc/demo.o
