e-rewriter/target
*.ipynb
__pycache__
parser.out
parsetab.py
*.out
hadi.txt
out.txt
optimized_circuit.aig
optimized_circuit.txt
original_circuit.aig
original_circuit.txt
raw_circuit.txt
multi_output_case.txt
one_output_case.txt
sexpr_for_egg.txt
output_from_egg.txt
raw_circuit.txt
.vscode/
multi_eqn_boolean